*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    background-color: #2F375B;
}

nav h1{
    margin-left: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    cursor: pointer;
}

ul{
    display: flex;
    margin-left: 65%;
}

ul li{
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 15px;
    padding-bottom: 10px;
}

ul li a {
    color: white;
    text-decoration: none;
    transition: 0.2s;
}

ul li a:hover{
    color: goldenrod;
}

.info{
    height: 80vh;
    background-color: #2F375B;
}

.name{
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    color: #DD4943;
    font-size: 45px;
    font-family: monospace;
    transition: 0.1s ease-in;
    cursor: pointer;
}

.name:hover{
    color: goldenrod;
}

.info section h4{
    font-size: 18px;
    color: white;
    width: max-content;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3%;
}

.info section .imgs{
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

.info section img{
    filter: brightness(0.7);
    margin-top: 50px;
    margin-left: 10px ;
    margin-right: 10px;
    transition: 0.3s;
}

.info section img:hover{
    filter: brightness(1);
    border-radius: 20px;
}
.informations{
    background-color: rgb(58, 61, 61);
}
